<!DOCTYPE html>

<html>
    <head>
        <title>
            About
        </title>
                <link rel="icon" href="/images/pic2.png">

        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        
        <p>
            <h3>
                Created by : {{name}}
            </h3>
        </p>
        <img class="portrait" src="/images/pic1.jpg">
        </div>
        
        
            {{>footer}}
        
        
    </body>
</html>